/* start of nav stylong and positioning*/
nav {
  display: inline-flex;
}

a {
  margin: 20px;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 20px;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*start of flex box styling and positioning*/
header {
  display: flex;
  align-items: center;
  font-family: verdana, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid black;
  z-index: 1;
  background-color: white;
}


/*start of flexbox positioning for articles*/
.container {
    display: flex;
    margin: 0 auto 78px auto;
    padding-top: 116px;
}

.column.large {
  width: 630px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.article1{
  border: 1px solid;
}

.article2 {
  border: 1px solid;
}

.article3 {
  border: 1px solid;
}

.article3 {
  border: 1px solid;
}

.article4 {
  border: 1px solid;
}

.article5 {
  border: 1px solid;
}

.cookie {
  border: 1px solid;
}

.sidebar {
  border: 1px solid;
}

.sidearticle1 {
  border: 1px solid;
}

.sidearticle2 {
  border: 1px solid;
}
